<nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div>
      <img src="apple-touch-icon.png" class="logo-navbar" />
    </div>
    <!-- Botón hamburguesa (colapsable) -->
    <button class="navbar-toggler btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor de botones -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <div class="d-flex flex-column flex-lg-row gap-2">
        <button routerLink="login" class="btn-custom">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </button>
        <button routerLink="home" class="btn-custom">
          <i class="bi bi-house-door-fill"></i> Home
        </button>
        <button routerLink="registro" class="btn-custom">
          <i class="bi bi-person-add"></i> Registro
        </button>
        <button routerLink="juegos" class="btn-custom">
          <i class="bi bi-controller"></i> Juegos
        </button>
        <button routerLink="quiensoy" class="btn-custom">
          <i class="bi bi-person-badge"></i> Quien Soy
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet />
