<div class="container-fluid py-5 fondo-violeta">
  <h1 class="titulo text-center mb-5">Selecciona un juego</h1>

  <div class="row justify-content-center g-4">

    <!-- Tarjeta 1: Ahorcado -->
<div class="col-12 col-sm-6 col-md-3">
  <div class="card-custom text-center h-100">
    <img src="assets/img/ahorcado.png" class="card-img-top p-3" alt="Ahorcado">
    <div class="card-body">
      <h5 class="card-title">Ahorcado</h5>
      <button routerLink="ahorcado" class="btn btn-custom w-100">
        Jugar
      </button>
    </div>
  </div>
</div>


    <!-- Tarjeta 2: Mayor Menor -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card-custom text-center h-100">
        <img src="assets/img/mayor-menor.jpg" class="card-img-top p-3" alt="Mayor Menor">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
          <button routerLink="mayormenor" class="btn btn-custom w-100">
            Jugar
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3: Preguntados -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card-custom text-center h-100">
        <img src="assets/img/preguntados.png" class="card-img-top p-3" alt="Preguntados">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <button routerLink="preguntados" class="btn btn-custom w-100">
            Jugar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet />
